.about{

  &__row{
    margin: 40px 0;
  }
}

.adventage{
  background-color: $blueDark;

  &__item{
    padding: 0 30px;
    font-size: 16px;
  }

  &__icon{
    margin: 20px auto 0;
    width: 112px;
    height: 80px;
    background: no-repeat center;
    background-size: contain;
    @include media($breakpointMd){
      margin: 20px auto;
      height: 90px;
    }
  }
}
