.header{
  position: fixed;
  left: 0;
  top: 0;
  padding: 10px 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid $blue;
  @include media($breakpointMd){
    position: static;
    padding: 20px 0;
  }
}

.logo{
  float: left;
  width: 130px;
  @include media($breakpointMd){
    width: auto;
  }
}

.burger{
  float: right;
  margin-top: 6px;
  width: 20px;
  height: 30px;
  transition: 200ms ease-out;
  &__bar{
    position: relative;
    margin-top: 14px;
    width: 100%;
    height: 2px;
    background-color: $blueDark;
    transition: 300ms;
    &:before, &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $blueDark;
      transition: 300ms;
    }
    &:before{
      top: -5px;
    }
    &:after{
      bottom: -5px;
    }

  }

  &--active{
    transform: rotate(-90deg);
  }

  &--active &__bar{
    background-color: $blue;
    &:before, &:after{
      background-color: $blue;
    }
  }
  @include media($breakpointMd){
    display: none;
  }
}

.navbar{
  position: fixed;
  top: 62px;
  left: 0;
  width: 100%;
  background-color: $blueDark;
  transform: translateX(-100%);
  transition: 300ms;

  &--active{
    transform: translateX(0);
  }

  @include media($breakpointMd){
    position: absolute;
    top: auto;
    transform: translateX(0);
    &--fixed{
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
    }
  }
}

.nav{
  li{

  }

  a{
    padding: 20px 0;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
  }
  @include media($breakpointMd){
    li{
      float: left;
      padding: 0 30px;
    }
  }
}

.meta{
  display: none;
  @include media($breakpointMd){
    float: right;
    display: block;
  }

  &__info{
    clear: both;
    margin-top: 40px;
  }

  &__info-item{
    float: left;
    margin-left: 30px;
    height: 28px;
    font-size: 20px;
  }

  &__info-icon{
    display: inline-block;
    width: 28px;
    height: 28px;
    background: no-repeat center;
    vertical-align: text-bottom;
  }
}

.lang{
  margin-top: 10px;
  float: right;
  li{
    float: left;
    padding: 0 15px;
  }
}


.dot-between{
  @include media($breakpointMd){
    li{
      position: relative;
      &:not(:last-child):after{
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 4px;
        height: 4px;
        background-color: $blue;
        border-radius: 50%;
        transform: translate(50%, -50%);
      }
    }
  }
}
